* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}

body, html {
    width: 1200px;
    margin: auto;
    background: rgb(255, 255, 255); 
    font-family: Arial, sans-serif;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.contact-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.form-group {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
    resize: none;
}

.file-upload input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.form-image {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
